@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif
}

.fa-star,.fa-bitcoin,.fa-book,.fa-hourglass,.fa-shopping-cart {
  font-size: 100px
}
