body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif
}
.fa-star,.fa-bitcoin,.fa-book,.fa-hourglass,.fa-shopping-cart {
  font-size:100px
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0e1117;
  color: #f0f0f0;
  line-height: 1.6;
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
} */


